body {
    background-color: #ffffff;
    font-family: 'Roboto', sans-serif;
}

.navbar {
    background-color: #343a40;
}

.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: 0.3s;
    border-radius: 5px;
}

.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

.jumbotron {
    padding: 2rem 1rem;
    margin-bottom: 2rem;
    background-color: #e9ecef;
    border-radius: 0.3rem;
}

canvas {
    display: block;
    margin: 0 auto;
    background-color: #f0f0f0;
    cursor: pointer;
    border-radius: 5px;
}

#startButton {
    font-size: 24px;
    padding: 10px 20px;
    background-color: #0d6efd;
    color: white;
    border: none;
    cursor: pointer;
    position: absolute;
    border-radius: 5px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#startButton:hover {
    background-color: #0b5ed7;
}


#restartButton {
    display: none;
    position: absolute;
    border: none;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.stats {
    margin-top: 20px;
    font-size: 20px;
    font-weight: 500;
}

.min-width-card {
    min-width: 400px;
}

@keyframes progress-animation {
    0% {
        width: 0%;
    }

    100% {
        width: 100%;
    }
}

#progressBarInner {
    height: 100%;
    background-color: #007bff;
}

#measuringText {
    position: absolute;
    top: 55%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 50%;
    display: none;
    text-align: center;
}